
header {
    background-color: #333;
    padding: 20px;
    margin: 0;
}

div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
}

div th {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

/* what is containeer?*/
/* okay so a .blah means its the class name, like class="blah"*/
.about-us {
    display: flex;
    align-content: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.shop-now button { /*this isnt working*/
    display: flex;
    background-color: #4CAF50;
    padding: 10px;
    margin: 20px;
    border-radius: 4px; 
}

.customer-reviews {
    display: flex;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

footer{
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white; 
}