
header {
    display:flex;
    background-color: #333;
    padding: 20px;
    margin: 0;
    color: white;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}


/*navigation*/
.navigation {
    display: flex;
    width: 100%;
    background-color: #333;
    justify-content: space-around;
    flex-direction: column;
}

.navigation th {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
} 
.navigation a{
    color: white;
    text-decoration: none;
}
/* end navigation*/

/* okay so a .blah means its the class name, like class="blah"*/
.about-us {
    display: flex;
    align-content: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
}

.shop-now button {
    display: flex;
    background-color: #4CAF50;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    border:none;
}

.shop-now button a {
    color: white;
    text-decoration: none;
}

.customer-reviews {
    display: flex;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
}

footer{
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white; 
    text-align: center;
}

/* login form section*/

.login {
    display: flex;
    flex-direction: column;
    align-content: center; /*Vertically center items*/
    justify-content: center; /*Horizontally center items*/
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    align-items: baseline; /*makes the stuff Left like in pic*/
    flex-wrap: wrap;
}

.login label{
    display:block;
    margin: 10px;
}

.login input{
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }

.login button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    border:none;
    text-align: center;
    color: white;
}

.login button:hover{
    background-color: #45A049;
    opacity: 1.0;
}

.login a{
   color: #007BFF;
   margin: 10px; 
   text-decoration: none;
}

.login a:hover{
    text-decoration: underline;
}

/*Contact section*/

.contact {
    display: flex;
    flex-direction: column;
    align-content: center; /*Vertically center items*/
    justify-content: center; /*Horizontally center items*/
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.contact-method {
    background-color: #ddd;
    padding:0px;
    margin: 0px;
    border-radius: 10px;
}

.contact-method a{
    color: black;
}

.contact-method a:hover{
    color: #007BFF;
}

/*Product section*/

.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    justify-content: center;
}

.box{
    display: flex;
    width: 40%; /*somehow this makes it 2 per line? 
    idk if this is better than doing a table tho*/
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    flex-direction: column;
}

.box img{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height:300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
.box h3{
    max-width: 100%;
    word-wrap: break-word;
    text-align: center;
}
.box p{
    color: #007BFF;
    font-weight: bold;
    text-align: center;
}

.box:hover{
    background-color: white;
}

.box button{
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    color: white;
    border:none;
    align-items: center;
}

.box button:hover{
    background-color: #45A049;
}

/*Sign up section*/

.signup {
    display: flex;
    align-content: center; /*Vertically center items*/
    justify-content: center; /*Horizontally center items*/
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
     /*makes the stuff Left like in pic*/
    flex-wrap: wrap;
}

.signup input{
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px; 
    /*make sure all fields have a required attribute - i did this in html doc, idk if thats proper tho*/
  }

  .signup button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    border:none;
    text-align: center;
    color: white;
}

.signup button:hover{
    background-color: #45A049;
    opacity: 1.0;
}

#message-box {
    border: 2px solid black;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 20px;
    .border-color: black;
    display: none;
}
#message{
    border: 1px;
}
